.maincontainer {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 1fr 60px 1fr 60px 1fr;
    grid-column-gap: 20px;
}

header {
    grid-column: 1/-1; 
    grid-row: 1/2;
    background-color:lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.profile {
    grid-column: 1/2; 
    grid-row: 2/3;
}


section.photo {
    grid-column: 2/3; 
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}


section.reachme {
    grid-column: 3/4; 
    grid-row: 2/3;
}
/* added sections */
div.skillsheader {
    grid-column: 1/4; 
    grid-row: 3/4;
}

section.education {
    grid-column: 1/2;
    grid-row: 4/5;
}

section.skills {
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

section.expertise {
    grid-column: 3/4;
    grid-row: 4/5;
}

section.expertise > h4 {
    text-align: center;
    line-height: 2;
}


/* end added sections */
div.experience {
    grid-column: 1/4; 
    grid-row: 5/6;
    display: flex;
    justify-content: center;
}

section.work {
    grid-column: 1/4;
    grid-row: 6/-1;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
}


/* CSS code from first file */
.picwrapper {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    overflow: hidden;
    margin: 16pt auto; 
}
.profile-pic {
   width: 200px;
   height: 220px;
   display: block;
   margin: 0 auto;
}

.iconwrapper {
    display: flex;
    flex-direction: row;
    
}

.contactinfo {
    padding-top: 10pt;
    display: block;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

.has-background {
    background-color: lightblue;
    padding: 10px;
    
}

h1, h2, p, h4 {
    margin: 0;
}

h1 {
   font-size: 30pt;
}


ul {
    margin: 0 20pt;
}

.underlined {
    border-bottom: lightblue 2px solid;
    padding-bottom: 15px;
}

