body {
    font-family: Lato, Arial, sans-serif;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    background-color: #272727;
    }

  /* What kind of selector is this? - a class selector*/
  .logo {
    width: 90px;
    margin: 3% 10%;
    background-color: #bbeedd;
    border-radius: 50%;
  }

  header {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #272121;
  }

  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    background-color: rgba(255, 255, 255, 0.6);
  }

  /* This is an element within and element selector */ 
  nav > a {
    margin: 3% 1%;
    color: #272121;
    background: #98ded9;
    padding: 4.5%;
    text-align: center;
    text-decoration: none;
  }

  a:hover {
    background-color: #bedbbb;
  }

  nav {
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
  }
  /* This is an ID selector */
  
  #profile-pic {
    width: 230px;
    height: 230px;
    margin: 2% auto;
    grid-column: 2/3;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 40px 1px #bedbbb;
  }

  h1 {
    color:#272121;
    grid-column: 2/3;
    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

  h2 {
    grid-column: 2/3;
    margin: 2% auto;
    font-style: italic;
    text-align: center;
    color: #272121;
    font-family: 'Montserrat', sans-serif;
  }

  .small-text {
    grid-column: 2/3;
    color:darkslategrey;
    font-size: 10px;
    margin: 3% auto;
  }

  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70%;
    font-size: 15pt;
    font-family: Lato, Arial, sans-serif;
    text-align: center;
    color: black;
    padding: 3%;
    background: #98ded9;
    border: none;
  }

  button:hover {
    background-color: #bedbbb;
    outline: 2px solid black;
  }

  @media only screen and (max-width: 414px) { 

    main {
      display: flex;
      flex-direction: column;
   
    }

  }
